<!DOCTYPE html>
<html lang="{{ global.language }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ global.site_name }}</title>
    <link rel="stylesheet" href="/assets/style.css" title="Main style">
    <link rel="stylesheet" href="/assets/prism-coldark-cold.css">
    <link rel="stylesheet" href="/assets/baguetteBox/baguetteBox.css">

    <script src="/assets/baguetteBox/baguetteBox.js" async></script>

    <script>
        window.addEventListener('load', function() {
            baguetteBox.run('[rel=lightbox]');
        });
    </script>

</head>
<body>


<header>
    <div class="header-side"></div>
    <div class="header-content">
        <h1 class="title">{{ global.site_name }}</h1>
        <h2 class="subtitle">{{ global.description }}</h2>
    </div>
    <div class="header-side"></div>
</header>

<main>
    <h3>{{ title }}</h3>

    <p class="datum">{% readable-date date %}</p>

    {% if media.length == 1 %}
        {% image media.first.image media.first.caption media.first.alt 800 %}
    {% else %}
    <ul class="images" rel="lightbox">
        {%- for image in media -%}
            <li>
                {% image image.image image.caption image.alt %}
            </li>
        {%- endfor -%}
    </ul>
    {% endif %}

    {{ content }}

</main>
<aside>aside right</aside>

<footer>
    <div class="footer-content">
        <ul class="links">
            <li><a href="https://github.com/edwinm/">{% sprite 'github' %} edwinm@Github</a></li>
            <li><a href="https://mastodon.social/@edwin">{% sprite 'mastodon' %} edwinm@Mastodon</a></li>
            <li><a href="https://www.linkedin.com/in/edwinm/">{% sprite 'linkedin' %} edwinm@LinkedIn</a></li>
            <li><a href="mailto:edwin@bitstorm.org">{% sprite 'envelope' %} edwin@bitstorm.org</a></li>
            <li><a href="https://bitstorm.org/weblog/rss.xml">{% sprite 'rss' %} RSS feed</a></li>
        </ul>
    </div>
</footer>



</body>
</html>