<!DOCTYPE html>
<html lang="{{ global.language }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ global.site_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if description != "" %}
    <meta name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="{{ content | strip_html | truncate: 250, "…" }}">
    {% endif %}
    {% if date %}
    <meta property="og:type" content="article"/>
    <meta property="article:published_time" content="{{ date }}"/>
    <meta property="article:author" content="{{ global.author.name }}"/>
    {% endif %}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ global.site_name }}">
    {% if media.length > 0 %}
    {% og-image media.first.image media.first.alt %}
    {% else %}
    <meta property="og:image" content="https://bitstorm.org/assets/pix/cityscape-og.webp">
    <meta property="og:image:width" content="1370">
    <meta property="og:image:height" content="721">
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ global.site_name }}" href="https://bitstorm.org/weblog/rss.xml" />

    <link rel="preload" fetchpriority="high" as="image" href="/assets/pix/cityscape.webp" type="image/webp">

    <link rel="stylesheet" href="/assets/style.css" title="Main style">
    <link rel="stylesheet" href="/assets/prism-coldark-cold.css">
    <link rel="stylesheet" href="/assets/baguetteBox/baguetteBox.css">

    <link rel="icon" href="/assets/pix/favicon.ico">
    {% if page.url == "/" %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "{{ global.site_name }}",
        "description": "{{ global.description }}",
        "about": "webdevelopment",
        "author": {
            "@type": "Person",
            "name": "{{ global.author.name }}",
            "email": "{{ global.author.email }}",
            "url": "{{ global.author.url }}"
        },
        "url": "{{ global.url }}"
    }
    </script>
    {% endif %}
    <script defer data-domain="bitstorm.org" src="https://data.bitstorm.org/js/script.js"></script>
    <script src="/assets/baguetteBox/baguetteBox.js" async></script>

    <script>
        window.addEventListener('load', function() {
            baguetteBox.run('[rel=lightbox]');
        });
    </script>

</head>
<body>

<header>
    <div class="header-side"></div>
    <div class="header-content">
        {% if page.url == '/' %}
        <h1 class="title">{{ global.site_name }}</h1>
        {% else %}
        <h1 class="title"><a href="/">{{ global.site_name }}</a></h1>
        {% endif %}
        <h2 class="subtitle">{{ global.description }}</h2>
    </div>
    <div class="header-side"></div>
</header>

<main>
    <h2>{{ title }}</h2>

    {% if date %}
    <time class="date" datetime="{{ date }}">{% readable-date date %}</time>
    {% endif %}

    {% if media.length == 1 %}
        {% image media.first.image media.first.caption media.first.alt 800 %}
    {% else %}
    <ul class="images" rel="lightbox">
        {%- for image in media -%}
            <li>
                {% image image.image image.caption image.alt %}
            </li>
        {%- endfor -%}
    </ul>
    {% endif %}

    {{ content }}
</main>

<aside class="aside about">
    <div class="footer-content">
        <section>
        {% if page.url != '/' %}
            <p class="links links-bottom"><a rel="contents" href="/">{% sprite 'home' %} Home</a></p>
        {% endif %}

        {% if page.url != '/weblog/archive.html' %}
            <p class="links{% if page.url == '/' %} links-bottom{% endif %}"><a rel="contents" href="/weblog/archive.html">{% sprite 'folder' %} Blog archive</a></p>
        {% endif %}

        <h3>About</h3>

        <p class="links-plain">Edwin Martin is a <a href="https://bitstorm.nl/">freelance webdeveloper</a> living in the Netherlands.</p>

        </section>

        <section>
        <h3>Game of Life</h3>

        <a href="https://playgameoflife.com/lexicon/Gosper_glider_gun"><img src="/assets/pix/Gosper_glider_gun.png" alt="Image of Gosper glider gun" style="aspect-ratio: 3.5"></a>

        <p>The Game of Life is a cellular automaton invented by Cambridge mathematician John Conway.</p>

        <p class="links links-bottom"><a href="https://playgameoflife.com/">{% sprite 'gameoflife' %} playgameoflife.com</a></p>
        </section>

        <section>
        <h3>Links</h3>
            <ul class="links">
                <li><a href="https://github.com/edwinm/">{% sprite 'github' %} edwinm@Github</a></li>
                <li><a href="https://mastodon.social/@edwin">{% sprite 'mastodon' %} edwin@Mastodon</a></li>
                <li><a href="https://www.linkedin.com/in/edwinm/">{% sprite 'linkedin' %} edwinm@LinkedIn</a></li>
                <li><a href="mailto:edwin@bitstorm.org">{% sprite 'envelope' %} edwin@bitstorm.org</a></li>
                <li><a href="https://bitstorm.org/weblog/rss.xml">{% sprite 'rss' %} RSS feed</a></li>
            </ul>
        </section>
    </div>
</aside>

<nav class="aside recent">
    {% if page.url == '/' or page.url == '/weblog/archive.html' or page.url == '/weblog/' %}
    <h3>Featured</h3>{% assign lastTen = collections.featured | reverse | limit:10 %}
    {% else %}
    <h3>Recent</h3>
    {% assign lastTen = collections.weblog | reverse | limit:10 %}
    {% endif %}

    <ol class="links">
        {%- for post in lastTen-%}
            {% if page.url == post.url %}
                <li aria-current="page">{{ post.data.title }}</li>
            {% else %}
                <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
            {% endif %}
        {%- endfor -%}
    </ol>
    {% if page.url != '/weblog/archive.html' %}
    <p class="links links-bottom"><a rel="contents" href="/weblog/archive.html">{% sprite 'folder' %} More in the archive</a></p>
    {% endif %}
</nav>

</body>
</html>